$color-letras:#8f5806;
$color-items:#ffffff;
$color-background: #fffcf5c9;
$redes: (
    twitter: #308fd8, 
    facebook: #0c2f75, 
    instagram: #ce612e
    );

$estilos: (
    color: #f1f1f1,
    font-size: 28px,
)